.app {
  color: #306090;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .users {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    margin: 0 50px;
  }
  .user {
    cursor: pointer;
    display: flex;
    background: #eee;
    margin: 5px 0;
    padding: 10px;

    &:hover {
      background: #ccc;
    }
  }
}
